# All ignores excepting (currently) empty directories like bin/
*~
.lokke
/.deps/
/Makefile
/Makefile.am
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bin_lok_0-lokke.o
/bin_lokke_0-lokke.o
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/tap-driver.sh
/build-aux/test-driver
/config.h
/config.h.in
/config.h.in
/config.log
/config.status
/configure
/guile
/guile-lokke.o
/lib/*.la
/lib/*.lo
/lib/*.o
/lib/*.x
/lib/.deps
/lib/.dirstamp
/lib/.libs/
/libtool
/lok
/lok-lokke.o
/lok.1
/lok.1.txt
/lokke
/lokke-lokke.o
/lokke.1
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/mod/**/*.go
/mod/lokke/base/version.scm
/stamp-h1
/test-suite.log
/test.*.log
/test/*.log
/test/*.trs
